footer {
  margin-top: 100px;
}
.div-img {
  width: 100%;
}

@media (max-width: 500px) {
  footer {
    width: 250px;
    top: 335%;
    left: 50px;
  }
  .div-img {
    width: 160%;
    margin-left: -20px;
  }
}
